*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
}

body{
    margin: 0 100px;
}

.titulo h1{
    font-size: 3.5em;
}
.banner img{
    object-fit: cover;
    object-position: 0px -102px;
    width: 100%;
    height: 300px;
}

.banner h2{
    text-align: center;
    border-style: solid;
}

nav{
    position: absolute;
    top: 5em;
    right: 7em;
}

.activo{
    background-color: rgb(50, 169, 48);
}

nav a{
    color: white;
    font-size:larger;
    text-decoration: none;
    background-color: rgb(36, 128, 220);
    display: inline-block;
    padding: 2px 20px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px 0px rgba(12, 12, 12, 0.50);
}

nav a:hover{
    background-color: rgb(50, 169, 48);
    transition: .4s;
}

.container{
    display: flex;
    min-height: 20em;
}

.logo img{
    height: 15em;
}

.img1 img{
    height: 13em;
    border-radius: 10px;
    position: relative;
    top: 2em;
    left: 8em;
    box-shadow: 3px 3px 0px 0px rgba(12, 12, 12, 1);
}
/* .imagen:hover{
    transform: rotate(360deg);
} */

.logo{
    top: 21px;
    left: 36px;
}

.lista, .info{
    padding-top: 2.5em;
    padding-left: 10%;
    position: relative;
}

.listaAbout{
    padding-top: 2.5em;
    padding-left: 10%;
    position: relative;
}

ul>li{
    list-style: none;
}

.lista li p, .listaAbout li p, .lista-reglas dd{
    text-indent: 20px;
}

.lista li, .listaAbout li, .lista-reglas li{
    margin-bottom: 20px;
}

.logo{
    position:relative;
}

.info p{
    margin-bottom: 30px;
}


/*                                      Rules */
.listaAbc{
    list-style-type: lower-alpha;
    text-indent: 0px;
    padding-left: 20px;
}

.listaAbc li{
    margin-bottom: 0.5em;
}

.last-list-rules li{
    list-style: circle;
}

.last-list-rules{
    padding-left: 45px;
}

.titulo-rules{
    text-align: center;
}

.titulo-rules p{
    font-weight: bold;
    font-size: large;
}

.lista-reglas{
    padding: 20px 10px;
}

.lista-reglas dt{
    font-weight: bold;
    font-size: 1.2em;
}

.lista-field-regulations{
    margin-left: 40px;
}

.lista-field-regulations h4{
    text-indent: 0px;
}

.lista-reglas dt{
    margin: .5em;
}

.container-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/*                                           game information                 */
.game-information h2{
    text-align: center;
}

.tabla{
    height: 17em;
    margin: 3em 0em;
}

.tabla img{
    position: relative;
    z-index: 0;
    width: 41.2em;
    height: 17.3em;
    bottom: 17.3em;
    left: 20.6em;
    opacity: .4;
}
table{
    position: relative;
    z-index: 1;
    text-align: center;
    width: 50%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}
th{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}
td a{
    color: rgb(33, 55, 164);
    text-decoration: none;
}
td a:visited{
    color: rgb(33, 55, 164);
}
td a:hover{
    text-decoration: underline;
}
p span{
    font-weight: bold;
}

.aditional-info-rules{
    padding-top: 2em;
}

.questions{
    padding-top: 3em;
}

.contact-data{
    display: flex;
    justify-content: space-between;
}

.maps{
    background-image: url(../assets/hockey_2.jpg);
    background-size: auto;
    background-position-x: -12em;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    align-content: center;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
}

.schools-title{
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 50px 50px 0px 0px;
    background: linear-gradient(217deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,218,0,1) 51%, rgba(255,0,0,1) 76%);
    -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
}

.card-map{
    padding: 1.3em;
    margin: 1em;
    border-radius: 50px;
    background: linear-gradient(217deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,218,0,1) 51%, rgba(255,0,0,1) 76%);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card-map h4{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1em;
}

.card-map iframe{
    border-radius: 30px
}

/*                                          registration form      */
form{
    margin-top: 1em;
    padding: 2em;
}

form h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1.5em;
}

form h3{
    margin-bottom: 0.5em;
}
.container-registration{
    display: flex;
    flex-direction: column;
    min-height: 20em;
    border: 2px solid black;
}
.container-registration .logo-registration{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-registration img{
    height: 15em;
}

/* para quitar el borde*/
fieldset {
    border: 0;
}
/* para quitar el legend */
legend{
    display: none;
}

.personal-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.full-name, .adress, .city-zcode, .birthD-gender, .school , 
.closest-school, .position, .uniform-size, .permission,
.permission-auth, .btn-form{
    text-align: center;
    width: 100%;
    padding: 1.5em;
}

form label{
    font-weight: bold;
}
.input-border{
    border: 0;
    border-bottom: 1px solid black;
}

#fname, #city, #bdate{
    margin-right: 10em;
}
#adress{
    width: 50em;
}

.birthD-gender label{
    margin-right: 1em
}

.label-distance{
    margin-right: 1.5em;
}

.btn-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-reset, .btn-submit{
    background-color: cornflowerblue;
    padding: 0.5em;
    margin: 0em;
    border-radius: 12px; 
}

.btn-submit{
    background-color: rgb(50, 169, 48);
}



/*                      footer              */
footer{
    margin-top: 20px;
    background-color: black;
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 13em;
    color: black;
    height: 11em;
}

.footer-info{
    padding-top: 3.5em;
    text-align: center;
}