*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive, Cochin, Georgia, Times, "Times New Roman", serif;
}

body{
    margin: 0 100px;
}

.titulo h1{
    font-size: 3.5em;
}
.banner img{
    object-fit: cover;
    object-position: 0px -102px;
    width: 100%;
    height: 300px;
}

.banner h2{
    text-align: center;
    border-style: solid;
}

nav{
    position: absolute;
    top: 54px;
    left: 1000px;
}

.activo{
    background-color: rgb(50, 169, 48);
}

nav a{
    color: white;
    font-size:larger;
    text-decoration: none;
    background-color: rgb(36, 128, 220);
    display: inline-block;
    padding: 2px 20px;
    border: 2px solid black;
    box-shadow: 3px 3px 0px 0px rgba(12, 12, 12, 0.50);
}

nav a:hover{
    background-color: rgb(50, 169, 48);
    transition: .4s;
}

.container{
    position: relative;
}

.logo img{
    height: 120px;
    transition: .5s linear;
}

.imagen:hover{
    transform: rotate(360deg);
}

.logo{
    top: 21px;
    left: 36px;
}

.lista, .info{
    top: 30px;
    left: 20%;
    position: absolute;
}

.listaAbout{
    top: 30px;
    left: 15%;
    position: absolute;
}

ul>li{
    list-style: none;
}

li p{
    text-indent: 20px;
}

.lista li, .listaAbout li{
    margin-bottom: 20px;
}

.logo{
    position:absolute;
}

.info p{
    margin-bottom: 30px;
}


/* Rules */
.listaAbc{
    list-style-type: lower-alpha;
}

.lastText li{
    list-style: circle;
}

main>p{
    font-weight: bold;
    font-size: large;
}